body {
  background: linear-gradient(
    to right,
    rgb(68, 67, 67),
    rgb(41, 40, 40),
    black,
    rgb(41, 40, 40),
    rgb(68, 67, 67)
  );
}

.myName {
  font-size: 50px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
.initials {
  color: gold;
  font-size: 35px;
  font-weight: bold;
  font-family: Apple Chancery, cursive;
  border-radius: 50%;
}
.navbar-toggler h2,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
p,
span,
.introbox {
  color: white;
}
.myname {
  font-family: Apple Chancery, cursive;
  font-size: 60px;
  color: rgb(238, 17, 109);
  font-weight: bold;
}
.pinktext {
  color: #ee116d;
}
.goldtext,
.star {
  color: #ffd700;
}
.whitetext {
  color: white;
}
.boldText {
  font-weight: bold;
}
.my-menu-item {
  font-weight: bold;
  font-size: 30px;
  color: white;
  word-spacing: 20px;
}
.initials:hover,
.my-menu-item:hover,
.myprojects:hover {
  transform: scale(1.2);
}
.myactive {
  color: rgb(135, 226, 238);
  font-weight: bolder;
  text-decoration: underline;
}
.mybioFirstWord {
  font-style: italic;
  font-weight: bold;
  color: gold;
}

.introbox {
  background: rgb(37, 54, 56);
  color: white;
  font-size: 20px;
}
footer {
  height: var(--footer-height);
  bottom: 0;
  text-align: center;
}

.label-default {
  background-color: gold;
  color: black;
}

.wrapper {
  width: 70%;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 20px;
  color: rgb(238, 17, 109);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.panel-heading a:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.myprojects {
  width: 350px;
  height: 500px;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: black;
  color: white;
  border-radius: 40%;
  font-size: 40px;
  padding-bottom: 5px;
}
#toTop:hover {
  background-color: #555;
}
