body {
  background: linear-gradient(
    to right,
    rgb(68, 67, 67),
    rgb(41, 40, 40),
    black,
    rgb(41, 40, 40),
    rgb(68, 67, 67)
  );
}

.myName {
  font-size: 50px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
.initials {
  color: gold;
  font-size: 50px;
  font-weight: bold;
  font-family: Apple Chancery, cursive;
}
.navbar-toggler h2,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
p,
span,
introbox {
  color: white;
}
.myname {
  font-family: Apple Chancery, cursive;
  font-size: 60px;
  color: rgb(238, 17, 109);
}
.pinktext {
  color: rgb(238, 17, 109);
}
.goldtext,
.star {
  color: gold;
}
.my-menu-item {
  font-weight: bold;
  font-size: 35px;
  color: white;
}
.nav-link:hover {
  transform: scale(1.2);
}
.myactive {
  color: rgb(135, 226, 238);
  font-weight: bolder;
  text-decoration: underline;
}
.mybioFirstWord {
  font-style: italic;
  font-weight: bold;
  color: gold;
}

.introbox {
  background: rgb(37, 54, 56);
  color: white;
}
footer {
  height: var(--footer-height);
  bottom: 0;
  text-align: center;
}

/* works page */
.wrapper {
  width: 70%;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 15px;
  color: rgb(238, 17, 109);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.panel-heading a:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
